@keyframes rotate_square {
	from {
		transform: rotate(-15deg);
	}
	to {
		transform: rotate(345deg);
	}
}

@keyframes rotate_triangle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


a {
    transition: opacity 4s, color 2s;
}


a:hover {
    color: red;
    opacity: .3;

}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2F80ED;
    z-index: 0;
    animation: rotate_square 20s linear infinite;
    
}




.logo_place_header {
    background-image: url(../images/logo.svg);
    position: absolute;
    top: 30px;
    left: 64px;
    width: 183px;
    height: 32px;
    background-position: center;
    background-size: cover;
}

.header__title {
    margin-left: 64px;
    width: 730px;
    z-index: 2;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}


.header__subtitle {
    position: absolute;
    width: 388px;
    bottom: 30px;
    left: 64px;
    z-index: 2;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}



.header__link {
    text-decoration: none;
    color: #2F80ED;

}

.header__main-illustration {
    position: absolute;
    height: 608px;
    width: 765px;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    z-index: 1;
}



.description {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

  .two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

  .two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}


  .two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;

 
}

.two-columns__paragraph:last-child {
    margin-bottom: 0px;
}

  .span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}


.technics {
    margin-top: 100px;

}



.cards {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}


.cards__item {
    margin-left: 100px;
    text-align: center;
    width: 250px;
}

.cards__image {
    margin-top: 100px;
    width: 160px;
    height: 160px;
    margin-bottom: 43px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50%;
}

.cards__title {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.cards__description {
    margin: 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
}

.video {
    margin-top: 100px;
    position: relative;
}

.video__iframes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.video__iframe {
    margin-left: 20px;
    width: 515px;
    height: 316px;
    margin-bottom: -60px;
}

.video__iframe:first-child {
    margin-left: 0px;
}

.oakley {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding-top: 160px;

}




.digits {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    margin: auto;
    width: 60%;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    margin: auto;
    width: 60%;
    z-index: 2;
    position: relative;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}

.table {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.table__cell {
    width: 250px;
    margin-top: 60px;


}

.table__heading {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text {
    
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.khan {
    background-color: #f2f2f2;
    padding-top: 105px;
}

.khan__container {
    width: 80%;
    margin: auto;

}

.khan__author {
    line-height: 42px;
    font-size: 30px;
    margin: 0;
}

.khan__title {
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
}

.khan__quote {
    font-size: 24px;
    line-height: 34px;
    width: 790px;
    margin: 0;
    margin-top: 50px;
}

.khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-top: 36px;
}

.khan__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    font-weight: normal;
}

.khan__book-container{
    margin-top: 68px;
    display: flex;
    flex-direction: row;


}

.khan__book-pic {
    width: 620px;
    height: 608px;
    object-fit: cover;
    object-position: 1px 1px;
}

.khan__buy-link {
    margin-left: 20px;
    line-height: 42px;
    font-size: 30px;
    text-decoration: none;
    color: #2F80ED;
}





.feinman {
    height: 790px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    flex-direction: column;
}

.feinman__title {
    width: 648px;
    z-index: 2;
    margin: 100px auto 70px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
}

.feinman__subtitle {
    text-align: center;
    z-index: 2;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    margin: 0;
    color: #000000;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}


.feinman__logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867;
    height: 637;
}

.kaufman {
    background-color: #1F1F1F;
    position: relative;
    padding-top: 90px;
    overflow: hidden;

}

.section-title_theme_dark {
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: white;

}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    color: white;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;
}


.table_theme_dark {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.table__heading_theme_dark {
    color: white;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text_theme_dark {
    color: white;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}


.kaufman__triangle {
    position: absolute;
    height: 877px;
    width: 877px;
    top: 0px;
    right: -210px;
    background-position: center;
    background-size: cover;
    animation: rotate_triangle 20s linear infinite;
    
}


.resources {
    margin-top: 100px;
    margin-bottom: 217px;
}

.logo-zone {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 1100px;
    margin-top: 80px;
}

.resources__logo {
    width: 270px;
    height: 38px;
}


.footer {
    background-color: #1F1F1F;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;

}

.footer__columns {
    margin-top: 60px;
    margin-bottom: 40px;
    min-height: 350px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.footer__column_content_copyright {
    flex-basis: 711px;
}

.footer__author {
    position: absolute;
    bottom: 18px;
    left: 0;
    line-height: 25px;
    font-size: 18px;
}

.logo_place_footer{
    background-image: url(../images/logo_white.svg);
    position: absolute;
    width: 183px;
    height: 35px;
    background-position: center;
    background-size: cover;
    list-style: none;

}



.footer__column-links {
    padding: 0;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 16px;
    list-style: none;
    
    
}


.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer__social-icons {
    width: 16px;
    height: 16px;
}

